@model IEnumerable<ContasApp.Domain.Models.ContaCorrente>

@{
    ViewBag.Title = "Inicio";
}

<h2>Inicio</h2>

<button class="btn btn-outline-secondary">
    @Html.ActionLink("Novo", "Incluir")
</button>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td class="comandos-tabela">
            <button class="btn btn-outline-secondary">
                @Html.ActionLink("Alterar", "Alterar", new { id = item.Id })
            </button>
            <button class="btn btn-outline-secondary">
                @Html.ActionLink("Excluir", "Excluir", new { id = item.Id })
            </button>
</td>
    </tr>
}

</table>
