@model ContaApp.UI.Web.Models.ContatoViewModel
@using ContasApp.Domain.Models

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir Contato</h2>

<h3>Confirma a exclusão desse registro?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        @if (Model.Tipo == PessoaFisicaJuridica.PessoaJuridica)
        {
            <dt>
                @Html.DisplayNameFor(model => model.CNPJ)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CNPJ)
            </dd>
        }

        @if (Model.Tipo == PessoaFisicaJuridica.PessoaFisica)
        {
            <dt>
                @Html.DisplayNameFor(model => model.CPF)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CPF)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RG)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RG)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DataNascimento)
            </dd>
        }
    </dl>

    <br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-danger" />
            <a href='@Url.Action("Inicio")' class="btn btn-outline-secondary">Voltar</a>
        </div>
    }
</div>
