
@{
    ViewBag.Title = "Inicio";
}

<h2>Contas App</h2>

<p>Bem vindo ao seu sistema de contas a pagar e receber</p>


<ul class="list-group">

    <li class="list-group-item">
        <a href='@Url.Action("Inicio", "Contato")'>Contatos</a>
    </li>

    <li class="list-group-item">
        <a href='@Url.Action("Inicio", "ContaCorrente")'>Conta Corrente</a>
    </li>

    <li class="list-group-item">
        <a href='@Url.Action("Inicio", "ContaCategoria")'>Categorias de Contas</a>
    </li>

    <li class="list-group-item">
        <a href='@Url.Action("Inicio", "Conta")'>Contas a Pagar e Receber</a>
    </li>

    <li class="list-group-item">
        <a href='@Url.Action("Inicio", "ContaCorrente")'>Relatórios</a>
    </li>

</ul>